<launch>

    <arg name="epuck2_id" default="0"/>
    <arg name="epuck2_address" default="10:00:E8:C5:61:C9"/>
    <arg name="epuck2_name" default="epuck2_robot_0"/>
    <arg name="is_single_robot" default="1" />
    <arg name="xpos" default="0.0"/>
    <arg name="ypos" default="0.0"/>
    <arg name="theta" default="0.0"/>
    <!-- Sensor enabling/disabling:-->
    <!-- with all the sensors enabled you'll get a refresh rate of about 2.5 Hz -->
    <!-- with all the sensors apart from the floor you'll get a refresh rate of about 2.5 Hz -->
    <!-- with all the sensors apart from the camera yuo'll get a refresh rate of about about 3.3 Hz -->
    <!-- with all the sensors without floor and without the camera you'll get a refresh rate of about 30 Hz -->
    <!-- The camera decreases the refresh rate because we need to wait that the capture is finished (the capture is started when -->
    <!-- the request is received by the robot); moreover there are more bytes to be actually transfered.-->
    <!-- The floor sensors decrease the refresh rate because the floor values are read (through I2C) when the request is received -->
    <!-- so we need to wait the read process terminates before receiving the values.-->
    <arg name="cam_en" default="false"/> <!-- When the camera is enabled you'll experience lower refresh rate (about 2.5 Hz)-->
    <arg name="floor_en" default="false"/>
    <!-- Camera parameters: if you put -1 then a default value will be assigned. -->
    <!-- Remember that the maximum buffer that the e-puck can handle is 3200 bytes. -->
    <arg name="cam_width" default="-1" /> <!-- By default width = 160 -->
    <arg name="cam_height" default="-1" />  <!-- By default height = 2 -->
    <arg name="cam_zoom" default="-1" /> <!-- Can be 1 (default), 2, 4, 8 -->
    <arg name="cam_mode" default="-1" /> <!-- 0=gray (default), 1=rgb565 -->
    <arg name="cam_x_offset" default="-1" />  <!-- By default the slice will be centered. -->
    <arg name="cam_y_offset" default="-1" />
    <!-- <arg name="ros_rate" default="20" /> --> <!-- This feature is disable since causes connection stability problems. -->

    <node pkg="epuck_driver_cpp" type="epuck_driver_cpp" name="$(arg epuck2_name)" output="screen">
        <param name="epuck2_id" value="$(arg epuck2_id)"/>
        <param name="epuck2_address" value="$(arg epuck2_address)"/>
        <param name="epuck2_name" value="$(arg epuck2_name)"/>
        <param name="xpos" value="$(arg xpos)"/>
        <param name="ypos" value="$(arg ypos)"/>
        <param name="theta" value="$(arg theta)"/>
        <param name="camera" value="$(arg cam_en)"/>
        <param name="floor" value="$(arg floor_en)"/>
        <param name="cam_width" value="$(arg cam_width)"/>
        <param name="cam_height" value="$(arg cam_height)"/>
        <param name="cam_zoom" value="$(arg cam_zoom)"/>
        <param name="cam_mode" value="$(arg cam_mode)"/>
        <param name="cam_x_offset" value="$(arg cam_x_offset)"/>
        <param name="cam_y_offset" value="$(arg cam_y_offset)"/>
        <!--<param name="ros_rate" value="$(arg ros_rate)"/> -->
    </node>

    <param name="robot_description" textfile="$(find epuck_driver_cpp)/urdf/epuck_urdf.xml"/>
    <node name="epuck_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="tf_prefix" value="$(arg epuck2_name)" />
    </node>

    <node if="$(arg is_single_robot)" pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find epuck_driver_cpp)/config/single_epuck2_driver_rviz.rviz"/>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" >
        <param name="base_frame" value="$(arg epuck2_name)/base_link"/>

        <param name="map_update_interval" value="1.0"/>

        <param name="linearUpdate" value="0.01"/> <!-- 1 cm -->
        <param name="angularUpdate" value="0.09"/> <!-- About 5 degrees -->
        <!-- Process a scan if the last scan processed is older than the update time in seconds. A value less than zero will turn time based updates off. -->
        <param name="temporalUpdate" value="-1.0"/>

        <!-- map size -->
        <param name="xmin" value="-1.0"/>
        <param name="xmax" value="1.0"/>
        <param name="ymin" value="-1.0"/>
        <param name="ymax" value="1.0"/>

        <!-- Processing parameters (resolution of the map)  -->
        <param name="delta" value="0.005"/>
        <param name="maxRange" value="0.080"/>
        <param name="maxUrange" value="0.075"/>

        <!-- The sigma used by the greedy endpoint matching  -->
        <param name="sigma" value="0.05"/> <!-- default = 0.05 -->

        <!-- The kernel in which to look for a correspondence -->
        <param name="kernelSize" value="1"/> <!-- default = 1 -->

        <!-- The optimization step in translation -->
        <param name="lstep" value="0.01"/> <!-- default = 0.05 (5 cm) -->

        <!-- The optimization step in rotation -->
        <param name="astep" value="0.02"/> <!-- About 1 degree, default = 0.05 (rad) -->

        <!-- The number of iterations of the scanmatcher  -->
        <param name="iterations" value="5"/> <!-- default = 5 -->

        <!-- The sigma of a beam used for likelihood computation  -->
        <param name="lsigma" value="0.075"/> <!-- default = 0.075 -->

        <!-- Gain to be used while evaluating the likelihood, for smoothing the resampling effects -->
        <param name="ogain" value="3.0"/> <!-- default = 3.0 -->

        <!-- Number of beams to skip in each scan. -->
        <param name="lskip" value="0"/> <!-- default = 0 -->

        <!-- Minimum score for considering the outcome of the scan matching good. Can avoid jumping -->
        <!-- pose estimates in large open spaces when using laser scanners with limited range (e.g. 5m). -->
        <!-- Scores go up to 600+, try 50 for example when experiencing jumping estimate issues. . -->
        <param name="minimumScore" value="100.0"/> <!-- default = 0.0 -->

        <!-- Odometry error in translation as a function of translation (rho/rho) -->
        <param name="srr" value="0.01"/> <!-- default = 0.1 -->

        <!-- Odometry error in translation as a function of rotation (rho/theta) -->
        <param name="srt" value="0.02"/> <!-- default = 0.2 -->

        <!-- Odometry error in rotation as a function of translation (theta/rho) -->
        <param name="str" value="0.01"/> <!-- default = 0.1 -->

        <!-- Odometry error in rotation as a function of rotation (theta/theta) -->
        <param name="stt" value="0.02"/> <!-- default = 0.2 -->

        <!-- The Neff based resampling threshold  -->
        <param name="resampleThreshold" value="0.5"/> <!-- default = 0.5 -->

        <!-- Number of particles in the filter  -->
        <param name="particles" value="30"/> <!-- default = 30 -->

        <!-- Translational sampling range for the likelihood  -->
        <param name="llsamplerange" value="0.01"/> <!-- default = 0.01 -->

        <!-- Translational sampling step for the likelihood -->
        <param name="llsamplestep" value="0.01"/> <!-- default = 0.01 -->

        <!-- Angular sampling range for the likelihood -->
        <param name="lasamplerange" value="0.005"/> <!-- default = 0.005 -->

        <!-- Angular sampling step for the likelihood  -->
        <param name="lasamplestep" value="0.005"/> <!-- default = 0.005 -->

        <!-- Threshold on gmapping's occupancy values. Cells with greater occupancy are considered occupied -->
        <!-- (i.e., set to 100 in the resulting sensor_msgs/LaserScan). -->
        <param name="occ_thresh" value="0.25"/> <!-- default = 0.25 -->

        <!-- How long (in seconds) between transform publications.  -->
        <param name="transform_publish_period" value="0.05"/> <!-- default = 0.05 -->

    </node>

</launch>
