<launch>

    <arg name="robot_id0" value="2996"/>
    <arg name="robot_id1" value="3092"/>
    <arg name="robot_id2" value="2950"/>
    <arg name="robot_id3" value="2990"/>
    <arg name="robot_addr0" value="10:00:E8:D3:AA:48"/> <!--2996 address -->
    <arg name="robot_addr1" value="10:00:E8:C5:61:C9"/> <!--3092 address -->
    <arg name="robot_addr2" value="10:00:E8:D3:B6:1B"/> <!--2950 address -->
    <arg name="robot_addr3" value="10:00:E8:D3:AA:98"/> <!--2990 address -->
    
    <param name="robot_description" textfile="$(find epuck_driver)/urdf/epuck_urdf.xml"/>
        
    <group ns="epuck_robot_0">
        <include file="$(find epuck_driver_cpp)/launch/epuck_controller.launch">
            <arg name="epuck_id" value="$(arg robot_id0)"/>
            <arg name="epuck_address" value="$(arg robot_addr0)"/>
            <arg name="epuck_name" value="epuck_robot_0"/>
            <arg name="cam_en" value="false"/>
            <arg name="acc_en" value="false"/>
            <arg name="prox_en" value="true"/>
            <arg name="mot_pos_en" value="true"/>
            <arg name="floor_en" value="false"/>
            <arg name="mot_speed_en" value="false"/>
            <arg name="mic_en" value="false"/>
            <arg name="xpos" value="-0.1"/>
            <arg name="ypos" value="-0.1"/>
            <arg name="theta" value="0.0"/>
            <arg name="is_single_robot" value="0"/>
        </include>
        <!--<node pkg="tf" type="static_transform_publisher" name="epuck_robot_0_tf" args="0 0 0 0 0 0 /base_link /epuck_robot_0/base_link 30"/>-->
    </group>

    <group ns="epuck_robot_1">
        <include file="$(find epuck_driver_cpp)/launch/epuck_controller.launch">
            <arg name="epuck_id" value="$(arg robot_id1)"/>
            <arg name="epuck_address" value="$(arg robot_addr1)"/>
            <arg name="epuck_name" value="epuck_robot_1"/>
            <arg name="cam_en" value="false"/>
            <arg name="acc_en" value="false"/>
            <arg name="prox_en" value="true"/>
            <arg name="mot_pos_en" value="true"/>
            <arg name="floor_en" value="false"/>
            <arg name="mot_speed_en" value="false"/>
            <arg name="mic_en" value="false"/>
            <arg name="xpos" value="-0.1"/>
            <arg name="ypos" value="0.1"/>
            <arg name="theta" value="0.0"/>
            <arg name="is_single_robot" value="0"/>
        </include>
        <!--<node pkg="tf" type="static_transform_publisher" name="epuck_robot_1_tf" args="0 0 0 0 0 0 /base_link /epuck_robot_1/base_link 30"/>-->
    </group>

    <group ns="epuck_robot_2">
        <include file="$(find epuck_driver_cpp)/launch/epuck_controller.launch">
            <arg name="epuck_id" value="$(arg robot_id2)"/>
            <arg name="epuck_address" value="$(arg robot_addr2)"/>
            <arg name="epuck_name" value="epuck_robot_2"/>
            <arg name="cam_en" value="false"/>
            <arg name="acc_en" value="false"/>
            <arg name="prox_en" value="true"/>
            <arg name="mot_pos_en" value="true"/>
            <arg name="floor_en" value="false"/>
            <arg name="mot_speed_en" value="false"/>
            <arg name="mic_en" value="false"/>
            <arg name="xpos" value="0.1"/>
            <arg name="ypos" value="-0.1"/>
            <arg name="theta" value="0.0"/>
            <arg name="is_single_robot" value="0"/>
        </include>
        <!--<node pkg="tf" type="static_transform_publisher" name="epuck_robot_2_tf" args="0 0 0 0 0 0 /base_link /epuck_robot_2/base_link 30"/>-->
    </group>
    
    <group ns="epuck_robot_3">
        <include file="$(find epuck_driver_cpp)/launch/epuck_controller.launch">
            <arg name="epuck_id" value="$(arg robot_id3)"/>
            <arg name="epuck_address" value="$(arg robot_addr3)"/>
            <arg name="epuck_name" value="epuck_robot_3"/>
            <arg name="cam_en" value="false"/>
            <arg name="acc_en" value="false"/>
            <arg name="prox_en" value="true"/>
            <arg name="mot_pos_en" value="true"/>
            <arg name="floor_en" value="false"/>
            <arg name="mot_speed_en" value="false"/>
            <arg name="mic_en" value="false"/>
            <arg name="xpos" value="0.1"/>
            <arg name="ypos" value="0.1"/>
            <arg name="theta" value="0.0"/>
            <arg name="is_single_robot" value="0"/>
        </include>
        <!--<node pkg="tf" type="static_transform_publisher" name="epuck_robot_3_tf" args="0 0 0 0 0 0 /base_link /epuck_robot_3/base_link 30"/>-->
    </group> 

    <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find epuck_driver)/config/multi_epuck_driver_rviz.rviz"/>

</launch>